body {
    background-color: lightgoldenrodyellow;
    color: darkcyan;
    font-family: 'Dancing Script', cursive;
}

h1 {
    text-align: center;
    font-size: 48pt;
}

p {
    font-size: 24pt;
}

.frame {
    background-color: lightblue;
}

#score {
    text-align: center;
}